services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: hello
      POSTGRES_DB: GYM_MANAGEMENT_SYSTEM
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U root"]
      interval: 2s
      timeout: 2s
      retries: 10
      start_period: 30s
    ports:
      - "5432:5432"
    volumes:
      - ./data:/var/lib/postgresql/data
      - ./sql/schema.sql:/docker-entrypoint-initdb.d/init.sql

  app:
    build: .
    volumes:
      - ./app:/app
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://root:hello@db:5432/GYM_MANAGEMENT_SYSTEM

volumes:
  postgres_data: